{% extends 'gathering/base.html' %}

{% block title_block %}
  Fill Table
{% endblock %}

{% block body_block %}
  <h2 class="sub-header">{{ ownername }}的 {{ tablename }}</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>id</th>
	  {% for th in tablehead %}
	    <th>{{ th }}</th>
	  {% endfor %}
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>0（样例）</td>
	  {% for s in sample %}
	    <td>{{ s }}</td>
	  {% endfor %}
	</tr>
      </tbody>
    </table>
    <p>注: 请依次填写表中信息</p>
    <form action="{% url 'filling_complete' %}" method="post" role="form">
      {% csrf_token %}
      <input name="serial_key" type="hidden" value="{{ serial_key }}"/>
      {% for th in tablehead %}
	<label>{{ th }}: </label>
	<input class="form-control" name="filling_content" type="text" /> <br/>
      {% endfor %}
      <button class="btn btn-primary" type="submit" value="submit">Confirm</button>
    </form>
  </div>
{% endblock %}
